<div class="row h-100">
    <div class="col-md-12 mx-auto px-md-5">
        <div class="row">
            <div class="col-12">
                <p style="font-size: x-large;" class="lead mt-4 mb-1 d-inline-block">
                    <strong>Energy Break</strong>
                </p>
                <div class="w-auto float-right mt-4 d-inline-block">
                    <p style="font-size: large;" class="lead d-inline-block mr-2">
                        <a disableRipple mat-button>
                            <mat-icon>update</mat-icon>
                        </a>
                        <strong>10 Minutes</strong>
                    </p>
                    <a class="mx-1" routerLink="/settings" mat-flat-button>
                        <mat-icon>settings</mat-icon>
                    </a>
                    <span class="mx-2"> | </span>
                    <a mat-raised-button (click)="cancel()" class="mx-1">Cancel</a>
                    <a mat-raised-button [disabled]="minutes == null" (click)="start()" class="mx-1 text-white continue-button">Start</a>
                </div>
            </div>
        </div>
        <mat-card class="px-4 large-card">
            <!-- Title -->
            <div class="w-auto h-auto mb-3">
                <p class="lead">
                    <strong>{{ category }}</strong>
                </p>
                <!-- divider -->
                <div class="px-5 border-top mb-3"></div>
                <div class="row">
                    <div class="col-12 mb-md-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, iste! Ad, quod! Ipsum impedit
                        maxime ullam repellendus provident, deserunt aut, excepturi fugit, nobis qui error saepe fugiat
                        quae perferendis labore!
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-5 mx-auto">
                                <h6 class="h6 text-center">
                                    Select Time for {{ category }}
                                </h6><br>
                                <div (click)="setMinutes(1)" [ngClass]="{'selected': minutes == 1}" class="w-100 h-auto text-center border py-2 my-3 cursor-pointer">
                                    1 Minute
                                </div>
                                <div (click)="setMinutes(2)" [ngClass]="{'selected': minutes == 2}" class="w-100 h-auto text-center border py-2 my-3 cursor-pointer">
                                    2 Minute
                                </div>
                                <div (click)="setMinutes(5)" [ngClass]="{'selected': minutes == 5}" class="w-100 h-auto text-center border py-2 my-3 cursor-pointer">
                                    5 Minute
                                </div>
                                <div (click)="setMinutes(7)" [ngClass]="{'selected': minutes == 7}" class="w-100 h-auto text-center border py-2 my-3 cursor-pointer">
                                    7 Minute
                                </div>
                                <div (click)="setMinutes(10)" [ngClass]="{'selected': minutes == 10}" class="w-100 h-auto text-center border py-2 my-3 cursor-pointer">
                                    10 Minute
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>