<div (click)="goHome()" class="row mt-md-4">
    <div style="background-color: #dae2e8;" class="col-md-8 mx-auto h-100 d-flex py-5">
        <div class="mx-auto my-auto text-center">
            <img style="height: 100px;" class="img img-fluid w-auto my-4 mx-auto" src="assets/images/thumb_up.png" alt="">
            <p style="font-size: large;" class="lead text-center text-muted">
                Congratulations <br>
                on completing your {{ category }}
            </p>
        </div>
    </div>
</div>