<div class="row h-100">
  <div class="col-md-12 mx-auto px-md-5">
    <div class="row">
      <div class="col-12">
        <p style="font-size: x-large;" class="lead mt-md-4 mb-1 d-inline-block">
          <strong>Energy Break</strong>
        </p>
        <div class="w-auto float-right mt-md-4 d-inline-block">
          <p style="font-size: large;" class="lead d-inline-block mr-2">
            <a disableRipple mat-button>
              <mat-icon [ngStyle]="{'color':'#7d79ea'}">update</mat-icon>
            </a>
            <strong [ngStyle]="{'margin-left': '-15px'}">10 Minutes</strong>
          </p>
          <a class="mx-1" routerLink="/settings" mat-flat-button>
            <mat-icon [ngStyle]="{'color':'#8FA1B3'}">settings</mat-icon>
          </a>
          <span class="mx-2"> | </span>
          <a mat-raised-button (click)="cancel()" class="mx-1">Cancel</a>
          <a mat-raised-button
             (click)="end()" class="mx-1 text-white continue-button">End</a>
        </div>
      </div>
    </div>
    <mat-card class="px-4 large-card">
      <!-- Recommended -->
      <div class="w-auto h-auto mb-3">
        <div class="row">
          <div class="col-12">
            <p class="lead">
              <strong>{{ category }}</strong>
            </p>
            <!-- divider -->
            <div class="px-5 border-top mb-3"></div>
            <!-- description -->
            <p style="font-size: large;" class="lead" *ngIf="category==='Desk Stretching'">
              Don't let sitting at work make your body stiff and sore! Repetitive movement patterns can cause neck and
              shoulder strain. With these quick and easy stretches you can reduce the risk of soft tissue injuries,
              boost your energy levels, and even improve your body's range of motion. Deskercises won’t promise Olympic
              mile times or six-pack abs, they might just improve strength and burn a few extra calories to boot!
            </p>
            <p style="font-size: large;" class="lead" *ngIf="category==='Meditation'">
              Say no to stress! We have you all covered with short break time meditation sessions for everyday
              well-being. Meditation helps you manage stressful thoughts and feel more relaxed!
            </p>
          </div>
        </div>

        <div *ngIf="!isCompleted" style="height: 20rem;" class="row mt-md-4">
          <div style="" class="col-md-8 mx-auto h-100 d-flex" *ngIf="category==='Meditation'">
            <iframe class="my-auto mx-auto" width="100%" height="100%" allowFullScreen='allowFullScreen'
                    src="https://www.youtube.com/embed/ODhEvxSZlxI?autoplay=1&rel=0" allow='autoplay'>
            </iframe>
          </div>
          <div style="" class="col-md-8 mx-auto h-100 d-flex" *ngIf="category==='Desk Stretching'">
            <iframe class="my-auto mx-auto" width="100%" height="100%" allowFullScreen='allowFullScreen'
                    src="https://www.youtube.com/embed/-pqfd-g7rIM?autoplay=1&rel=0" allow='autoplay'>
            </iframe>
          </div>
        </div>

        <app-break-completion *ngIf="isCompleted" [category]="category"></app-break-completion>
      </div>
    </mat-card>
  </div>
</div>
